.main-bg {
  padding: 100px 20px;
  background-color: lightgray;
}

.black-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;
  padding: 30px;
  visibility: hidden;
}

.white-bg {
  background-color: white;
  border-radius: 5px;
  padding: 30px;
}

.list-group {
  display: none;
}

.show {
  display: block;
}

.show-modal {
  visibility: visible;
  opacity: 1;
}